.quest-creator {
  padding: 16px;
}

.quest-form {
  flex: 0 0 500px;
  max-width: 100%;
}

.submit-btn {
  width: 100%;
}

.nz-form-item-error {
  color: #ff4d4f;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 4px;
  margin-bottom: 8px;
}